@import './styles/theme.css';
@import './styles/images.css';
@import './styles/components.css';
@import './styles/responsive.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.font-shein-logo {
  font-family: var(--fonte-logo);
}
